<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess Online</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">♟ Chess club</div>
      <div class="user-info">
        <span>Welcome, <span id="username"></span></span>
        <button onclick="logout()" class="logout-btn">Logout</button>
      </div>
      <p class="subtitle">Play chess online with your firends!</p>
      <div id="error" class="error"></div>
      <button onclick="createGame()" class="create-game-btn">
        Create Game
      </button>
      <div class="divider">or</div>
      <div class="input-group">
        <input
          type="text"
          id="gameCodeInput"
          placeholder="Enter the game code"
          required
        />
        <button onclick="joinGame()" class="create-game-btn">Join Game</button>
      </div>
      <div id="gameCodeDisplay" class="game-code-display">
        <div>
          Share this code with your friend:
          <div id="gameCode" class="game-code"></div>
          <button onclick="copyGameCode()" class="copy-button">
            Copy Code
          </button>
        </div>
      </div>
    </div>
    <script>
      window.addEventListener("DOMContentLoaded", async () => {
        try {
          const response = await fetch("auth/me");
          const data = await response.json();
          if (data.success) {
            document.getElementById("username").textContent =
              data.user.username;
          }
        } catch (error) {
          console.log("error getting user information", error);
        }
      });

      async function logout() {
        try {
          const response = await fetch("auth/logout", {
            method: "POST",
            headers: {
              "Content-Type": "Application/json",
            },
          });
          const data = await response.json();
          if (data.success) {
            window.location("/login");
          } else showError("Error login out");
        } catch (error) {
          showError("Error login out", error);
        }
      }
      function showError(message) {
        const errorDiv = document.getElementById("error");
        error.textContent = message;
        error.style.display = "block";
        setTimeout(() => {
          errorDiv.textContent = "";
          errorDiv.style.display = "none";
        }, 5000);
      }

      function generateGameCode() {
        return Math.random.toString(36).substring(2, 8).toUpperCase();
      }

      async function createGame() {
        const gameCode = generateGameCode();
        try {
          const response = await fetch("/game/create", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ gameCode: gameCode, timeControl: 10 }),
          });
          const data = await response.json();
          if (data.success) {
            window.location.href = `/game/${gameCode}`;
          } else {
            showError(data.message || "Error creating game");
          }
        } catch (error) {
          showError("Error creating game");
        }
      }

      async function joinGame() {
        const gameCode = document
          .getElementById("gameCodeInput")
          .value.trim()
          .toUpperCase();
        if (!gameCode) {
          showError("Please enter a game code");
          return;
        }
        try {
          const response = await fetch("/game/join", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ gameCode: gameCode }),
          });
          const data = await response.json();
          if (data.success) {
            window.location.href = `game/${gameCode}`;
          } else {
            showError(data.message || "Error joining game");
          }
        } catch (error) {
          showError("Error joining game");
        }
      }

      function copyGameCode() {
        const gameCode = document.getElementById("gameCode").textContent;
        navigator.clipboard
          .writeText(gameCode)
          .then(() => {
            const copyButton = document.querySelector(".copy-button");
            const originalText = copyButton.textContent;
            copyButton.textContent = "Copied!";
            setTimeout(() => {
              copyButton.textContent = originalText;
            }, 2000);
          })
          .catch((err) => {
            console.error("Error copying game code", err);
            showError("Error copying game code");
          });
      }
      const urlPrams = new URLSearchParams(window.location.search);
      const error = urlPrams.get("error");
      if (error) {
        let message = "";
        switch (error) {
          case "noCode":
            message = "Pease enter a game code";
          case "invalidCode":
            message = "Invalid game code";
          case "gameNotFound":
            message = "Game not found";
          case "gameFull":
            message = "Game is full";
          default:
            break;
        }
        showError(message);
      }
    </script>
  </body>
</html>
